

#logo{
  width: 200px;
  height: 100%;
  background: rgba(0,0,0,0.3);
}
.navbar {
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  display: block;
  color: black;
  padding: 30px 30px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  color:pink;
}
.content {
  padding: 10px;
}
.container {
  position: relative;
  font-family: Arial;
  padding-top: 100px;
}

.text-block {
  position: absolute;
  bottom: 28%;
  right: 23%;
  background-color: white;
  color: black;
  padding-left:  150px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 150px;
  text-align: center;
}
.button {
  background-color: black;
  border: 2px dashed black;
  color: white;
  padding: 1px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  transition-duration: 0.5s;
  cursor: pointer;
}
.button:hover {
  background-color: transparent;
  color: black;
  border: 2px dashed black;
}